.side-menu{
  padding: 20px;
  border-right: 1px solid #00000010;
}
.side-menu__block:not(:last-child){
  margin-bottom: 50px;
}
.side-menu__elm{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  font-family: 'inter';  
  font-weight: 300;
}
.side-menu__elm>p{
  font-size: 18px;
}
.side-menu__elm>img{
  width: 25px;
  height: 25px;  
}
.profile-photo>p{
  font-size: .75rem;
  font-weight: 400;
}
.add,
.projects,
.notes{
  font-weight: 600;
}
.add{
  color: var(--secundary-color);
}
.projects,
.notes{
  color: var(--complementary-2-color);
}
.arrow{
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
}