.list{
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 25px;
  padding: 100px 100px 25px 100px;
  overflow-y: hidden;
}
.list__title{  
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 700;
  color: var(--complementary-1-color);
}
.list__rows{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
}