.row{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 100px;
  flex-shrink: 0;
  font-family: 'inter';
  border-bottom: 1px solid #00000020;
}
.rowTitle{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--complementary-1-color);
}
.row__description,
.meta,
.meta__info,
.meta__actions{
  display: flex;
  align-items: center;  
}
.row__description{
  height: 20px;
  column-gap: 10px;  
}
.row__description>input{
  width: 16px;
  height: 16px;
  accent-color: var(--secundary-color);
}
.rowDescription{
  max-width: 60%;
  height: 20px;
  font-size: 1.125rem;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rowTitle,
.rowDescription,
.meta{
  transition: all .5s ease-in-out;
}
.meta{
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 30px;
}
.meta__info{
  column-gap: 60px;
}
.meta__actions{
  column-gap: 15px;
}
.rowDueDate{
  font-size: 1rem;
  font-weight: 500;
  color: var(--secundary-color);
}
.rowPriority,
.editTask{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.rowPriority{
  flex-direction: row-reverse;
  justify-content: start;
  column-gap: 5px;
}
.editTask{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  background-color: transparent;
  border: none;
  color: var(--complementary-1-color);
}
.deleteTask{
  background-color: transparent;
  border: none;
  font-weight: 300;
  color: var(--high-color);
}
.editTask,
.deleteTask{
  cursor: pointer;
  transition: all .2s ease-in-out;  
}
.editTask:hover,
.deleteTask:hover{
  transform: translateY(-2px);
}
.high{
  color: var(--high-color);
}
.low{
  color: var(--low-color);
}
.done{  
  opacity: .5;
}